/*////////////////////////////////////////////RESETEO/////////////////////*/
:root
{
    --color_primary: rgb(176, 213, 216);
    --color_secundary: #253f39;
    --color_terciary:rgb(104, 133, 126);
    --color_blog: #cddfdb;
    --black: #000;
    --button_one:#253f39; 
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
/*//////////////////////////////////////////////////HEADER PART 1/////////////////*/
/*Tamaño del contenedor padre del header dividido en dos filas*/

header
{
    width: 100%;
    height: 130px;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    border: 3px solid var(--color_primary);
}
/*Colores del contenedor header parte superior*/
header .header-icons-container
{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--color_secundary);
    border-bottom: 3px solid var(--color_primary);
}
/*Alineacion de los iconos*/
header .header-icons-container .icons
{
    width: 260px;
    height: auto;
    display: flex;
    justify-items: end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 20px;
}
/*Color de los iconos*/
header .header-icons-container .icons span
{
    color : var(--color_primary);
}
header .header-icons-container .icons span:hover
{
    color : var(--color_terciary);
}

/*//////////////////////////////////////////////////////HEADER PART 2*/
nav
{
    display: grid;
    background-color: var(--color_terciary);
    grid-template-columns: repeat(2, 1fr);
    height: 80px;
}
nav .nav-logo-container
{
    display: grid;
    Align-items : center;
    margin-top: 2px;
    margin-left: 30px;
}
nav .nav-logo-container img
{
    width: 200px;
    height: auto;
}
nav .profile-link
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
}
nav .profile-link a 
{
    display: inline;
    border-bottom: 3px solid var(--color_primary);
    color: var(--color_primary);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
}
nav .profile-link a:hover
{
    color: var(--color_secundary);
    border-bottom: 3px solid var(--color_secundary);
}

/*///////////////////////////////////MAIN //////////////////////////////////*/
.container
{
    background-image: url(https://www.xtrafondos.com/wallpapers/calaveras-abstractas-4566.jpg);
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}
.container::before
{
    content: "";
    background-color: #253f39c2;
    position: absolute;
    top: 2.7px;
    left: 2.7px;
    width:  calc(100% - 5.4px);
    height: calc(100% - 5.4px);
}
.container .content
{
    display: flex;
    margin: auto;
    min-width: 60%;
    max-width: 90%;
    height: calc(100vh - 136px) ;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.container .content h2
{
    position: relative;
    color: var(--color_primary);
    font-size: 6rem;
    text-align: center;
}
.container .content a 
{
    position: relative;
    display: flex;
    margin-top: 40px;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    border: 0.3rem solid var(--color_primary);
    background-color: var(--color_secundary);
    font-size: 1.6rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.container .content a:hover
{
    background-color: var(--color_terciary);
}
.container .content a 
{
    color: rgb(176, 213, 216);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
.container .content a:hover
{   
    color: var(--button_one);
    font-weight: 700;
    text-decoration: none;
}
/*///////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////PANTALLA 2 ////////////////////////////////////////////*/
/*////////////////////////BLOG PRINCIPAL////////////////////////////////////////*/
main
{
    border: 0.3rem solid var(--color_primary);
}
.container-background
{
    width: 100%;
    height: auto;
    background-color: var(--color_blog);
    border-top: 0.3rem solid var(--color_primary);
    border-bottom: 0.3rem solid var(--color_primary);
}
.container-section-main
{
    width: 100%;
    max-width: 900px;
    height: auto;
    margin: auto;
    display: grid;
    font-size: 1.6rem;
    padding: 20px;
}
/*/Imagen*/
.container-section-img img
{
    width: 100%;
    height: 270px;
}
/*Estilado del texto*/
.container-section-main article h2
{
    font-size: 4.4rem;
    color : var(--color_secundary);
    font-weight: 700;
    margin-bottom: 32px;
    margin-top: 32px;
}

/*/Estilado del boton*/
.container-section-main article a
{
    display: flex;
    width: 100%;
    justify-content: end;
    text-decoration: none;
    color: var(--color_secundary);
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}
.container-section-main article a:hover
{
    color: var(--color_terciary);
}
/*/////////////////////////////BLOGS SECUNDARIOS/////////////////////*/
/*/Crear una grilla para los elementos */
.container-section-secundary .title-article
{
    display: inline-block;
    width: 100%;
    font-size: 2.4rem;
    color: var(--color_secundary);
    font-weight: 700;
    line-height: 40px;
    grid-column: 1/3;
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 2px solid var(--color_primary);
}
.container-section-secundary
{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    padding: 20px;
    margin-top: 20px;
    gap: 15px;
}
/*Define el tamaño de la grilla*/
.container-section-secundary .contents
{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: var(--color_blog);
    padding: 10px;
}
.container-section-secundary .contents .img-items
{
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;

}
/*Estilos de los contenidos del blogs*/
.container-section-secundary .contents h3
{
    color: var(--color_secundary);
    font-size: 1.6rem;
    margin-bottom: 20px;
}
.container-section-secundary .contents p
{
    color: var(--black);
    font-size: 1.2rem;
    margin-bottom: 20px;
}
/*Efecto de leer mas...*/
.container-section-secundary .contents a
{
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: end;
    text-decoration: none;
    color: var(--color_secundary);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.container-section-secundary .contents a:hover
{
    color: var(--color_terciary);
}
/*/Footer/*/
footer .container-footer
{
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    flex-direction: column;
}
footer .container-footer div
{
    background-color: var(--color_blog);
    border-right: 0.3rem solid var(--color_primary);
    border-left: 0.3rem solid var(--color_primary);
}
footer .container-footer p
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700px;
    color : var(--color_primary);
    background-color: var(--color_secundary);
    border: 0.3rem solid var(--color_primary);
}
/*/////////////////////////////////////////////////////////////*/
/*///////////BLOG COMPLETO DE LEER MAS ////////////////////////*/
/*/Delimitador del crecimiento de la pantalla*/
.container-section-blogpost
{
    max-width: 900px;
    padding: 20px 24px 0;
}
/*/imagen del contenedor*/
.blogpost-img-container img
{
    width: 100%;
}
/*/estilizados de los textos*/
.blogpost-main-container h3
{
    font-size: 2rem;
    border-bottom: 3px solid var(--color_primary);
    color: var(--color_secundary);
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.blogpost-main-container h1
{
    font-size: 2.8rem;
    color: var(--color_secundary);
    text-align: end;
    margin-bottom: 20px;
    font-weight: 700;
}
.blogpost-main-container p
{
    font-size: 1.6rem;
    margin-bottom: 24px
}
/*/Seccion de contacto*/
.contact-main-container
{
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: var(--color_terciary);
    padding: 30px 20px 20px;
}
.contact-main-container img
{
    width: 90px;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*fondo del contacto*/
.contact
{
    display: flex;
    margin-bottom: 10px;
    background-color: var(--color_blog);
    border: 3px solid var(--color_secundary);
    border-radius: 10px;
    padding: 10px;
}
/*/efectos del redireccionamiento*/
.contact a
{
    color: var(--color_secundary);
    text-decoration: none;
    cursor: pointer;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 40px;
    border-bottom: 3px solid var(--color_secundary);
    display: inline-block;
    margin: 0 0 10px 20px;
    width: 80%;
    align-self: flex-end;

}
/*efectos*/
.contact a:hover
{
    color : var(--color_terciary);
    border-bottom: 3px solid var(--color_terciary);
}
/*tamañp del parrafo y estilos*/
.contact p 
{
    font-size: 1.6rem;
    width: 80%;
    padding: 0 0 10px 20px;
}
/*//////////////////////////BLOG PERFIL///////////////////////////////*/
/*/ Tamaño y espaciados de titulo*/
.container-section-main .container-section-main-perfil
{
    font-size: 4rem;
}
/*/espacio del texto vs la casilla*/
.container-section-main article .perfil
{
    margin-bottom: 20px;
}
/*/ tamaño y espaciado de los proyectos*/
.container-section-secundary .contents-main h3
{
    margin-top: 18px;
    font-size: 2.4rem;    
}
/*/tamaño de letra de los proyectos parrafo*/
.container-section-secundary .contents-main p
{
    font-size: 1.6rem;
}
/*casillas a utilizar del individual*/
.container-section-secundary .perfil-grid 
{
    grid-column: 1/3;
}
/*/espaciado vs contact*/
.container-section-secundary
{
    padding-bottom: 80px;
}