/*////////////////////////////////////////////RESETEO/////////////////////*/
:root
{
    --color_primary: rgb(176, 213, 216);
    --color_secundary: #253f39;
    --color_terciary:rgb(104, 133, 126);
    --color_blog: #cddfdb;
    --black: #000;
    --button_one:#253f39; 
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    font-size: 62.5%;
}
/*//////////////////////////////////////////////////HEADER PART 1/////////////////*/
/*Tamaño del contenedor padre del header dividido en dos filas*/
header
{
    width: 100%;
    height: 130px;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    border: 3px solid var(--color_primary);
}
/*Colores del contenedor header parte superior*/
header .header-icons-container
{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--color_secundary);
    border-bottom: 3px solid var(--color_primary);
}
/*Alineacion de los iconos*/
header .header-icons-container .icons
{
    width: 260px;
    height: auto;
    display: flex;
    justify-items: end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    font-size: 1.6rem;
    font-weight: 500;
    margin-right: 20px;
}
/*Color de los iconos*/
header .header-icons-container .icons span
{
    color : var(--color_primary);
}
header .header-icons-container .icons span:hover
{
    color : var(--color_terciary);
}

/*//////////////////////////////////////////////////////HEADER PART 2*/
nav
{
    display: grid;
    background-color: var(--color_terciary);
    grid-template-columns: repeat(2, 1fr);
    height: 80px;
}
nav .nav-logo-container
{
    display: grid;
    Align-items : center;
    margin-top: 2px;
    margin-left: 30px;
}
nav .nav-logo-container img
{
    width: 220px;
    height: auto;
}
nav .profile-link
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
}
nav .profile-link a 
{
    display: inline;
    border-bottom: 3px solid var(--color_primary);
    color: var(--color_primary);
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
}
nav .profile-link a:hover
{
    color: var(--color_secundary);
    border-bottom: 3px solid var(--color_secundary);
}

/*///////////////////////////////////MAIN //////////////////////////////////*/
.container
{
    background-image: url(https://www.xtrafondos.com/wallpapers/calaveras-abstractas-4566.jpg);
    width:100%;
    height: 100%;
    border: 0.3rem solid var(--color_primary);
    background-position: center;
    background-position: no-repeat;
    background-size:cover;
    position: relative;
}
.container::before
{
    content: "";
    background-color: #253f39c2;
    position: absolute;
    width:100%;
    height: 100%
}
.container .content
{
    display: flex;
    margin: auto;
    width: 60%;
    height: calc(100vh - 136px) ;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.container .content h2
{
    position: relative;
    color: var(--color_primary);
    font-size: 6rem;
    text-align: center;
}
.container .content a 
{
    position: relative;
    display: flex;
    margin-top: 40px;
    width: 180px;
    height: 50px;
    border-radius: 10px;
    border: 0.3rem solid var(--color_primary);
    background-color: var(--color_secundary);
    font-size: 1.6rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.container .content a:hover
{
    background-color: var(--color_terciary);
}
.container .content a 
{
    color: rgb(176, 213, 216);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
.container .content a:hover
{   
    color: var(--button_one);
    font-weight: 700;
    text-decoration: none;
}
/*///////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////PANTALLA 2 ////////////////////////////////////////////*/
/*////////////////////////BLOG PRINCIPAL////////////////////////////////////////*/
.container-section-main
{
    width: 100%;
    height: auto;
    background-color: var(--color_blog);
    display: grid;
    grid-template-columns: 1fr 6fr 6fr 1fr;
    font-size: 1.6rem;
    align-content: center;
    padding: 40px;
    border-top: 0.3rem solid var(--color_primary);
    border-bottom: 0.3rem solid var(--color_primary);
}

/*/Imagen*/
.container-section-img 
{
    display: flex;
    grid-column: 2;
    place-content: end;
    padding-right: 40px;
}
.container-section-img img
{
    width: 400px;
}
/*/margenes internas*/
.container-section-main article
{
    padding-right: 15%;
}
/*Estilado del texto*/
.container-section-main article h2
{
    font-size: 4.4rem;
    color : var(--color_secundary);
    font-weight: 700;
    margin-bottom: 32px;
}
.container-section-main article p
{
    font-size: 1.6rem;
    color: var(--black);
    margin-bottom: 32px;
}
/*/Estilado del boton*/
.container-section-main article a
{
    text-decoration: none;
    color: var(--color_secundary);
    font-weight: 700;
}
.container-section-main article a:hover
{
    color: var(--color_terciary);
}   
/*/////////////////////////////BLOGS SECUNDARIOS/////////////////////*/
/*/Cambiar la direccion del contenido y centrarlo todo*/
main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.3rem solid var(--color_primary);

}
/*/Crear una grilla para los elementos */
.container-section-secundary
{
    display: grid;
    width: 900px;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    margin-top: 80px;
}
/*Define el tamaño de la grilla*/
.container-section-secundary .contents
{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 300px;
    height: auto;

}
/*Estilos de los contenidos del blogs*/
.container-section-secundary .contents h3
{
    color: var(--color_secundary);
    font-size: 2.4rem;
    margin-top: 20px;
}
.container-section-secundary .contents p
{
    color: var(--black);
    font-size: 1.6rem;
    margin-top: 10px;
}
/*Efecto de leer mas...*/
.container-section-secundary .contents a
{
    text-decoration: none;
    color: var(--color_secundary);
    font-size: 1.6rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 50px;
}
.container-section-secundary .contents a:hover
{
    color: var(--color_terciary);
}
/*/Footer/*/
footer .container-footer
{
    width: 100%;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    flex-direction: column;
    

}
footer .container-footer div
{
    background-color: var(--color_blog);
    border-right: 0.3rem solid var(--color_primary);
    border-left: 0.3rem solid var(--color_primary);
}
footer .container-footer p
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700px;
    color : var(--color_primary);
    background-color: var(--color_secundary);
    border: 0.3rem solid var(--color_primary);
}